/* --------------Element Selectors Start---------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background color of website */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* selectors for top navigation bar start here */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* selectors for top navigation bar end here */

/* services section headlines */
h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

/* Sidebar "benefits" headlines */
h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

/* footer headline */
h4 {
    font-size: 20px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* -------------- Element Selectors End ---------------- */

/* -------------- Class Selectors Start --------------- */

.seo {
    color: #d9dcd6;
}

/* services section start */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* services section end */

/* benefits sidebar aside start */
.benefit-solution {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-solution img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* benefits sidebar aside end */

/* -------------- Class Selectors End --------------- */

/* -------------- id Selectors Start ---------------- */

/*Full screen image */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* wrapper for the services section */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* wrapper for the benefits sidebar aside */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* -------------- id Selectors end ---------------- */



